!= partial('../topnavbar.jade')
	.container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			.span10
				h2 List of user accounts
				br
				table.table.table-bordered.table-striped.span6
					thead
						tr
							th username 							
							th email
							th full name					
					tbody(data-bind="foreach: userList")
						tr
							td(data-bind="text: username") 
							td(data-bind="text: email")
							td(data-bind="text: fullname")


script(src='/js/topbar-viewmodel.js')
script(src='/js/admin-viewmodelcontroller.js')
script(src='/js/lib/knockout.validation.js')
script 
	//get to work!
	now.ready(function(){
		//fire up a viewcontroller for the page via knockout
		now.getAdminStartupData(function(userlist,settings){
			window.controller = new AdminViewModelController(settings);
			ko.applyBindings(controller);
			controller.getUsers();
		});
	});