!= partial('../topnavbar.jade')
	.container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			.span10
				.well
					h2 Todo: List of user accounts


script(src='/js/topbar-viewmodel.js')
script(src='/js/admin-viewmodelcontroller.js')
script(src='/js/lib/knockout.validation.js')
script 
	//get to work!
	var controller = ko.applyBindings(new AdminViewModelController());