.well.sidebar-nav
	ul.nav.nav-pills.nav-stacked
		li.nav-header Admin
		li.
			<a href="/admin"><i class="icon-home"></i> <span>Admin Home</span></a>
		li.nav-header User tools
		li.
			<a href="/admin/accounts"><i class="icon-list"></i> <span>Manage accounts</span></a>
		li.
			<a href="/admin/register"><i class="icon-user"></i> <span>Register new admin</span></a>

	