!= partial('../topnavbar.jade')
.container-fluid
	.row-fluid
		.span10.hero-unit
			p  Hi, #{currentUser.name.first} #{currentUser.name.last}!

script(src='/js/topbar-viewmodel.js')
script(src='/js/simpleviewmodelcontroller.js')
script 
	//get to work!
	var controller = ko.applyBindings(new SimpleViewModelController());			

		