!= partial('topnavbar.jade')
.container-fluid
  .row-fluid
    .span8
      .hero-unit
        h1 Add a ticket
        p
        p
          | This will be a form to add new tickets
        p
          a(href='#').btn.btn-primary.btn-large Submit your ticket »
    .span4
      .hero-unit
        h2 Login
        p
        p
          | Login form
        .btn-group  
          a(href='#').btn.btn-large left
          a(href='#').btn.btn-large middle
          a(href='#').btn.btn-large right 
  .row-fluid
    .span3.well
      h2 My tickets
      p
        | Manage tickets
      p
        a(href='/manage').btn Manage Tickets »



    