!= partial('topnavbar.jade')
.container-fluid
  .row-fluid
    .span8
      .hero-unit
        h1 Welcome to 
          Span= brand
        br
        br
        a(href='/manage').btn.btn-primary.btn-large Manage tickets »




    