!= partial('topnavbar.jade')
.container-fluid
	.row-fluid
		.span6.center
			.hero-unit
				h1 Welcome to 
					Span= brand
				br
				br
				a(href='/manage').btn.btn-primary.btn-large Manage tickets »				


!= partial('modals.jade')						
script(src='/js/topbar-viewmodel.js')
script(src='/js/simpleviewmodelcontroller.js')
script 
	//get to work!
	var controller = ko.applyBindings(new SimpleViewModelController());



		