div(data-bind="with: topbarView").navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				// number of lines to show on collapsed state icon
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/')= brand
			.nav-collapse
				ul.nav
					li(data-bind="css:{active: matchingPath('/')}")
						<a href="/"><i class="icon-white icon-home"></i> <span>Home</span>&nbsp;</a>
					li(data-bind="css:{active: matchingPath('/manage')}")
						<a href="/manage"><i class="icon-white icon-th-list"></i> <span>Manage Tickets</span>&nbsp;</a>
					if adminUser	
						li(data-bind="css:{active: matchingPath('/admin')}")
							<a href="/admin"><i class="icon-white icon-cog"></i> <span>Admin Site</span>&nbsp;</a>
					li(data-bind="css:{active: matchingPath('/account')}")
						<a href="/account"><i class="icon-white icon-user"></i> <span>Account</span>&nbsp;</a>						
				if adminUser
					p.navbar-text.pull-right Logged in as 
						a(href='/account').navbar #{adminUser.username} 
						a(href='/logout').btn.btn-inverse.btn-small.align-inherit <i class="icon-off icon-white"></i> LOG OUT
				else
					p.navbar-text.pull-right 
						a(href='/account').btn.btn-inverse.btn-small.align-inherit LOG IN
