.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				// number of lines to show on collapsed state icon
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			a.brand(href='/') Clayesmore IT Helpdesk
			.nav-collapse
				ul.nav
					li.active
						a(href='/') Home
					li
						a(href='/manage') Manage
				p.navbar-text.pull-right
					| Logged in as 
					a(href='#') username
			