div(data-bind="with: topbarView").navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				// number of lines to show on collapsed state icon
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/')= brand
			.nav-collapse
				ul(data-bind="foreach: navbarLinks").nav
					li(data-bind="css:{active: $parent.matchingPath(path)}")
						if adminUser
							<a data-bind="attr: {href: path}"><i class="icon-white" data-bind="class: icon"></i> <span data-bind="text:name"></span>&nbsp;</a>
						else
							<!-- ko ifnot: showOnlyToAdmin -->
							<a data-bind="attr: {href: path}"><i class="icon-white" data-bind="class: icon"></i> <span data-bind="text:name"></span>&nbsp;</a>
							<!-- /ko -->
							
				if adminUser
					p.navbar-text.pull-right Logged in as 
						a(href='/account') #{adminUser.username} &nbsp;
						a(href='/logout').btn.btn-inverse.btn-mini.align-inherit <i class="icon-off icon-white"></i> LOG OUT
				else
					p.navbar-text.pull-right 
						a(href='/account').btn.btn-primary.btn-small.align-inherit LOG IN
