div(data-bind="with: topbarView").navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				// number of lines to show on collapsed state icon
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/')= brand
			.nav-collapse
				ul(data-bind="foreach: navbarLinks").nav
					li(data-bind="css:{active: $parent.matchingPath(path)}")
						a(data-bind="text: name, attr: {href: path}")
				p.navbar-text.pull-right
					| Logged in as 
					a(href='/account') username

