!= partial('../topnavbar.jade')
	div(data-bind="with:manageTicketView").container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			//tabs view
			.span10
					ul(data-bind="foreach: tabs").nav.nav-tabs
						li(data-bind="css:{active: $data == $parent.chosenTabId()}, click: $parent.goToTab")
							a(data-bind="text: '&laquo; '+$data") 
			.span10
				//individual ticket view
				//section only shown if ticketData has content
				section(data-bind="with: ticketData").span10
					.btn-toolbar.pull-right
						.btn-group
							a(data-toggle="modal", data-target="#deleteModal").btn.btn-warning Delete Ticket
						.btn-group
							button(data-toggle="dropdown").btn Impact <span class="caret"></span>
								ul(data-bind="foreach: $root.impacts").dropdown-menu
									li
										a(data-bind="text: $data, click: $root.changeImpact")
						.btn-group
							button(data-toggle="dropdown").btn Status <span class="caret"></span>
								ul(data-bind="foreach: $root.tabs").dropdown-menu
									li
										a(data-bind="text: $data, click: $root.changeStatus")
						.btn-group
							button(data-bind="css:{disabled: true}").btn Edit Ticket
						.btn-group
							button(data-bind="click: $root.closeTicket, disable: $root.isClosed(), css:{disabled: $root.isClosed()}").btn.btn-primary Close Ticket
					br
					ul.unstyled	
						li
							p <span class="label label-info">ID</span> <span data-bind="text: _id"></span>
						li
							p <span class="label label-info">age</span> <span data-bind="text: age"></span> - <span data-bind="text: friendlydate"></span>
						li
							p <span class="label label-info">status</span> <span data-bind="text: status()"></span>
						li
							p <span class="label label-info">impact</span> <span class="badge" data-bind="text: impact()"></span>
						li
							p <span class="label label-info">from:</span> <strong data-bind="text: from"></strong>

					hr
					h1(data-bind="text: subject")
					hr
				section(data-bind="with: ticketData").span10.well
					p(data-bind="html: description")

!= partial('modals.jade')

		
script(src="/js/lib/moment.min.js")					
script(src="/js/lib/sammy.min.js")					
script(src='/js/manage-id-viewmodel.js')



