!= partial('topnavbar.jade')
	.container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			//tabs view
			.span10
					ul(data-bind="foreach: tabs").nav.nav-tabs
						li(data-bind="css:{active: $data == $root.chosenTabId()}, click: $root.goToTab")
							a(data-bind="text: $data")
			.span10
				//ticket list view
				//section only shown if chosenTabData has content
				section(data-bind="with: chosenTabData")
					table.table.table-bordered.table-striped(data-bind="visible: tickets.length > 0")
							thead
									tr
										th age
										th subject									
										th from
										th date
										th id
							tbody(data-bind="foreach: tickets")
								tr(data-bind="click: $root.goToTicket")
									td
										span(data-bind="text: age")
									td
										a(data-bind="text: subject")
									td
										span(data-bind="text: from")
									td
										span(data-bind="text: friendlydate")
									td
										span(data-bind="text: _id")
					h3(data-bind="visible: tickets.length < 1") No tickets found with a status of "<span data-bind="text: $root.chosenTabId()"></span>"
									
script(src="/js/lib/moment.min.js")					
script(src="/js/lib/sammy.min.js")					
script(src='/js/manage-tab-viewmodel.js')


