!= partial('topnavbar.jade')
	.container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			//tabs view
			.span10
				ul(data-bind="foreach: tabs").nav.nav-tabs
					li(data-bind="css:{active: $data == $root.chosenTabId()}, click: $root.goToTab")
						a(data-bind="text: $data")
			.span10
				// tr(data-bind="click: $root.goToTicket")
				//ticket list view
				section
					table#ticketlist.table.table-bordered.table-striped(data-bind="dataTable: { dataSource: tickets, options: {bFilter: true, bSort: false, iDisplayLength: 25}, columns: ['age', 'subject', 'from', 'friendlydate', '_id'] }")
							thead
									tr
										th age
										th subject									
										th from
										th date
										th id


script(src="/js/lib/jquery.dataTables.min.js")							
script(src="/js/lib/knockout.bindings.dataTables.js")	
script(src='/js/lib/bootstrap.datatables.js')
script(src="/js/lib/moment.min.js")					
script(src="/js/lib/sammy.min.js")					
script(src='/js/manage-tab-viewmodel.js')



