!= partial('topnavbar.jade')
	.container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			.span10
					ul(data-bind="foreach: tabs").nav.nav-tabs
						li(data-bind="css:{active: $data == $root.chosenTabId()}, click: $root.goToTab")
							a(data-bind="text: $data")
			.span10			
				h2 
					span(data-bind="text: $root.chosenTabId()+' '")
					| tickets
				br
				table.table.table-bordered.table-striped
						thead
								tr
									th age
									th subject									
									th from
									th id
						tbody(data-bind="foreach: chosenTabData")
							tr
								td
									span(data-bind="text: age")
								td
									a(data-bind="text: subject")
								td
									span(data-bind="text: from")
								td
									span(data-bind="text: _id")







script(src='/js/manage-viewmodel.js')



