!= partial('topnavbar.jade')
	.container-fluid
		.row-fluid
			.span2
				!= partial('sidebar.jade')
			//tabs view
			.span10
				ul(data-bind="foreach: tabs").nav.nav-tabs
					li(data-bind="css:{active: $data == $root.chosenTabId()}, click: $root.goToTab")
						a(data-bind="text: $root.tabData($data)")
			.span10
				// tr(data-bind="click: $root.goToTicket")
				//ticket list view
				section
					table#ticketlist.table.table-bordered.table-striped(data-bind="dataTable: { dataSource: tickets, rowTemplate: 'ticketListTemplate',  options: {bSort: false, iDisplayLength: 25}, columns: ['age', 'subject', 'from', 'friendlydate', 'impact'] }")
							thead
									tr
										th age									
										th impact
										th subject									
										th from
										th date


<script Id="ticketListTemplate" type="text/html">
<td width=7.5% data-bind="text: age"></td>
<td width=7.5% data-bind="text: impact"></td>
<td width= 50%><A data-bind="text: subject, attr: { href: '/manage/'+id}"></a></td>
<td data-bind="text: from"></td>
<td data-bind="text: friendlydate"></td>
</script>



script(src="/js/lib/jquery.dataTables.min.js")							
script(src="/js/lib/knockout.bindings.dataTables.js")	
script(src='/js/lib/bootstrap.datatables.js')
script(src="/js/lib/moment.min.js")					
script(src="/js/lib/sammy.min.js")					
script(src='/js/manage-index-viewmodel.js')




