#deleteModal.modal(style="display: none;").fade
	.modal-header
		a(data-dismiss="modal").close ×
		h3 Confirm deletion
	.modal-body
		p 
		| Are you sure you wish to delete this ticket?
		| All associated emails and data will be permanently removed.
		| No email notifications will be sent.
	.modal-footer
		a(data-dismiss="modal").btn Cancel delete
		a(data-bind="click: $root.deleteTicket", data-dismiss="modal").btn.btn-danger Delete ticket