.well.sidebar-nav
	ul.nav.nav-pills.nav-stacked
		li.nav-header Manage tickets
		<!-- ko foreach: tabsView.tabs -->
		li
			a(data-bind="text: '> ' + $data + ' tickets', click: $root.tabsView.goToTab, attr: {href: '', title: $data + ' tickets'}")			 
		<!-- /ko -->
	