.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/')
				span: brand
			.nav-collapse
				ul.nav
					li
						a(href='/') Home
					li.active
						a(href='/manage') Manage
					li
						a(href='/admin') Admin
				p.navbar-text.pull-right
					| Logged in as 
					a(href='/users') username
			